body {
font-family: "Roboto", sans-serif;
color: #434455; 
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* ==========Components =========*/ 
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-span {

    color: #2E2F42;
}
/* ==========/Components =========*/
/* ========== Hero =========*/
.hero {
    background-color: #2e2f42;
}

.main-title {
Font family: 'Roboto', sans-serif;
font-size: 56px;
line-height: 60px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
line-height: 1.5;
Vertical align: Center;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
/* ========== /Hero =========*/


/* ========== Header =========*/
.menu-link {
    font-weight: 500;
    Font family: 'Roboto', sans-serif;
    Font size: 16px;
    Line height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.page-address {
    font-style: normal;
}

.contact-info {
    Font family: 'Roboto', sans-serif;
    color: #434455;
    Font size: 16px;
    Line height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-info:hover,
.contact-info:focus {
    color: #404bbf;
}
/* ========== /Header =========*/

.name-decisions {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
line-height: 1.2;
Align: Left;
letter-spacing: 0.02em;
color: #2e2f42;
}
.description-solutions {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 24px;
line-height: 1.5;
Align: Left;
letter-spacing: 0.02em;
color: #434455;
}
.work-options {
font-family: 'Roboto', sans-serif;
font-size: 36px;
line-height: 40px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: #2e2f42;
}


.team {
font-family: 'Roboto', sans-serif;
font-size: 36px;
line-height: 40px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: #2e2f42;
}
.name {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
line-height: 1.2;
Align: Center;
letter-spacing: 0.02em;
color: #2e2f42;
}
.profession {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 24px;
line-height: 1.5;
Align: Center;
letter-spacing: 0.02em;
color: #434455;
}

.page-footer {
background-color: #2e2f42;
}

.goal {
font-family: 'Roboto', sans-serif;
font-size: 16px; 
line-height: 24px;
line-height: 1.5;
Align: Left;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.logo-span-footer{

    color: #f4f4fd;
}

/*========== Portfolio======*/

.filter-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
line-height: 1.5;
Align: Center;
letter-spacing: 0.04em;
color: #4d5ae5;
cursor: pointer;
}
 .filter-button:hover,.filter-button:focus {
color: ;#FFFFFF;
background-color: #404BBF;
}
.gallery-name {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
line-height: 1.2;
Align: Left;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 24px;
line-height: 1.5;
Align: Center;
letter-spacing: 0.02em;
color:#434455;

}
